<div class="nav">
    <ul>
        <LinkTo @route="index"><img class="logo" src="assets/plumb-line.jpg" alt="Home Icon"></LinkTo>
        <li>
        <li>Doctrinal Foundations</li>
            <ul class="submenu">
                <li><LinkTo @route="grace">The Work of Grace</LinkTo></li>
                <li><LinkTo @route="grace">Forgiveness</LinkTo></li>
            </ul>
        </li>
        <li>
        <li>Word Studies</li>
            <ul class="submenu">
                <li><LinkTo @route="grace">Grace</LinkTo></li>
            </ul>
        </li>
        <li>
         <li>Common Questions</li>
            <ul class="submenu">
                <li><LinkTo @route="grace">Grace</LinkTo></li>
            </ul>
        </li>
        <li>
         <li>Other Religions</li>
            <ul class="submenu">
                <li><LinkTo @route="grace">Grace</LinkTo></li>
            </ul>
        </li>
    </ul>
</div>
<h2 class="title">{{@title}}</h2>