<Navbar
    @title="Bible Topics"
/>
<div class="content-background">
<div class="content-text">
    <h3>Doctrinal Foundations</h3>
    <ul class="content-text-lists">
        <li><LinkTo @route="grace">Work of Grace</LinkTo></li>
        <li><LinkTo @route="grace">Forgiveness</LinkTo></li>
    </ul>
</div>
<div class="content-text">
    <h3>Word Studies</h3>
    <ul class="content-text-lists">
        <li><LinkTo @route="grace"></LinkTo></li>
        <li><LinkTo @route="grace"></LinkTo></li>
    </ul>
</div>
<div class="content-text">
    <h3>Common Questions</h3>
    <ul class="content-text-lists">
        <li><LinkTo @route="grace"></LinkTo></li>
        <li><LinkTo @route="grace"></LinkTo></li>
    </ul>
</div>
<div class="content-text">
    <h3>Other Religions</h3>
    <ul class="content-text-lists">
        <li><LinkTo @route="grace"></LinkTo></li>
        <li><LinkTo @route="grace"></LinkTo></li>
    </ul>
</div>
</div>